# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini

# Composer
composer.phar

*.md
LICENSE
errlog.*
access_log.*
composer.lock
