{% extends "::base.html.twig" %}

{% block title %}CabinateRestaurantBundle:ProductsManagement:delete{% endblock %}

{% block body %}
<h1>Welcome to the ProductsManagement:delete page</h1>
{% endblock %}
