{% extends "::base.html.twig" %}

{% block title %}CabinateRestaurantBundle:ProductsManagement:list{% endblock %}

{% block body %}
<h1>Welcome to the ProductsManagement:list page</h1>
{% endblock %}
