{% extends "::base.html.twig" %}

{% block title %}CabinateRestaurantBundle:ProductsManagement:update{% endblock %}

{% block body %}
<h1>Welcome to the ProductsManagement:update page</h1>
{% endblock %}
