{% extends "::base.html.twig" %}

{% block title %}CabinateRestaurantBundle:OrderPlanManagement:add{% endblock %}

{% block body %}
<h1>Welcome to the OrderPlanManagement:add page</h1>
{% endblock %}
