{% extends "::base.html.twig" %}

{% block title %}CabinateRestaurantBundle:OrderPlanManagement:delete{% endblock %}

{% block body %}
<h1>Welcome to the OrderPlanManagement:delete page</h1>
{% endblock %}
