{% extends "::base.html.twig" %}

{% block title %}CabinateRestaurantBundle:OrderPlanManagement:list{% endblock %}

{% block body %}
<h1>Welcome to the OrderPlanManagement:list page</h1>
{% endblock %}
