{% extends "::base.html.twig" %}

{% block title %}CabinateRestaurantBundle:OrderPlanManagement:update{% endblock %}

{% block body %}
<h1>Welcome to the OrderPlanManagement:update page</h1>
{% endblock %}
