{% extends "::base.html.twig" %}

{% block title %}CabinateAdminBundle:RestaurantManagement:index{% endblock %}

{% block body %}
<h1>Welcome to the RestaurantManagement:index page</h1>
{% endblock %}
